@use '../partials/_mixin' as *;
@use '../partials/variables' as *;
.order-page {
  background-color: #f5f1f1;
  height: 100vh;
  width: 100%;
}
.order {
  &__week {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    z-index: 1;
  }

  &__date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    width: 45px;
    height: 54px;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
    position: relative;
    color: black;
    border: none;
    margin-right: 0.33rem;

    &:hover {
      transform: translateY(1rem);
      box-shadow: 0px 2px 5px rgba(86, 84, 77, 0.21);
      color: #fff;
      background-color: lighten(#ff7d23, 2%);
    }

    &--wednesday {
      color: white;
      background-color: $delivery-info;
    }
  }

  &__day {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  &__schedule {
    background-color: white;
    margin: 0 auto;
    width: 100vw;
    height: 269px;
    position: relative;

    &-content {
      width: 90vw;
      margin: 0 auto;
      padding-top: 1rem;
    }

    &-title {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
    }
    &-subtitle {
      font-weight: 600;
      padding-top: 1rem;
      font-size: 1rem;
    }
  }

  &__select-text {
    margin-bottom: 1rem;
  }

  &__time-container {
    display: flex;
    align-items: center;
  }

  &__time {
    margin-right: 1.2rem;
    height: 36px;
    width: 73px;
    border-radius: 6px;
    border: 2px solid lightgrey;

    &--hour {
      width: 130px;
      height: 36px;
      border-radius: 6px;
      border: 2px solid lightgrey;
    }
  }

  &__discount {
    color: #11a631;
    margin: 0;
    font-weight: 600;
  }

  &__button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border: none;
    background: $main-checkout;
    color: white;
    font-family: roboto;
    font-weight: 600;
    width: 172px;
    height: 36px;
    border-radius: 6px;
    font-size: 20px;
  }
}
