@use '../partials/variables' as *;
@use '../partials/mixin' as *;

.order-page-food-card {
  display: flex;
  margin: 2rem 1.5rem;
  height: 10rem;
  background-color: white;
  border-radius: 0.8rem;
  position: relative;
  &__img {
    width: 8.7rem;
  }

  &__description {
    padding: 0.8rem 7rem 0.5rem 1rem;
  }
  &__restaurant {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
  }
  &__menu {
    font-size: 1.1rem;
    margin: 2.3rem 0 0 0;
  }
  &__calories{
      margin: 0.5rem 0 0 0;
  }

  &__like{
      position: absolute;
    right: 1.5rem;
    top: -1.4rem;
    font-size: 1.8rem;
  }
}
