@use '../partials/variables' as *;
@use '../partials/mixin' as *;

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    top:0;
}

.logo{
width: 7rem;
}

.profile{
    width: 2.5rem;
}

@include tablet{
    .header{
        padding: 1rem 2rem;
    }

    .logo{
        width: 9rem;
    }

    .profile{
        width: 3rem;
    }
}

@include desktop{
  .logo{
      width: 9.5rem;
  }

  .profile{
    width: 3.5rem;
  }
}